* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  background-color: #323232;
  color:white;
}

.container {
  display: flex;
  width: auto;
}

.container__categires {
  background-color: rgb(230, 181, 46);
  padding: 15px;
  width: 15%;
}

.container__categires p {
  padding: 6px 0;
}

.input__checkbox {
  margin-right: 5px;
}

.container__box {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 85%;
}

.container__box input {
  border-radius: 5px;
  margin: 20px;
  min-width: 500px;
  padding: 10px;
}

a {
  background-color: rgb(230, 181, 46);
  border-radius: 15px;
  color: #323232;
  left: 600px;
  padding: 15px;
  position: relative;
  text-decoration: none;
  top: -75px;
}
